In [22]:
import pandas as pd
IMAGES_DIR = "../dataset/images/"
ORIGINAL_META_FILE = "../dataset/styles.csv"
META_FILE = "../dataset/cleaned_styles.csv"
LABELS = ["gender", "articleType", "baseColour", "season", "usage"]

metadata = pd.read_csv(ORIGINAL_META_FILE)
metadata.shape

(44424, 11)

In [2]:
metadata.sample(3)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,productUsageRights
24136,15828,Men,Apparel,Innerwear,Innerwear Vests,Red,Summer,2016.0,Casual,Facit Men Square Neck Red Innerwear Vest,Free
7010,27689,Women,Accessories,Bags,Handbags,Brown,Winter,2015.0,Casual,Murcia Women Brown Handbag,Restricted
39509,15653,Unisex,Accessories,Bags,Backpacks,Navy Blue,Fall,2011.0,Casual,Belkin Unisex Simple Backpack Navy Blue Backpacks,Free

In [3]:
metadata.id.nunique()

44424

In [4]:
metadata.head(3)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,productUsageRights
0,37695,Unisex,Accessories,Bags,Backpacks,Brown,Summer,2012.0,Casual,American Tourister Unisex Brown Backpack,Limited
1,7073,Unisex,Accessories,Bags,Backpacks,Orange,NaN,2015.0,Casual,Wildcraft Unisex Orange & White Printed Backpack,Free
2,28457,Women,Apparel,Bottomwear,Capris,Black,Summer,2012.0,Sports,Urban Yoga Women Black Capris,Free

In [5]:
metadata.iloc[0,0]

np.int64(37695)

In [6]:
metadata.groupby("masterCategory").count()

,id,gender,subCategory,articleType,baseColour,season,year,usage,productDisplayName,productUsageRights
masterCategory,,,,,,,,,,
Accessories,10196,10196,10196,10196,9166,9211,10196,10172,10194,10196
Apparel,19232,19232,19232,19232,17306,17316,19231,19210,19232,19232
Footwear,8277,8277,8277,8277,7436,7417,8277,8275,8277,8277
Free Items,94,94,94,94,85,80,94,94,94,94
Home,1,1,1,1,1,1,1,1,1,1
Personal Care,2158,2158,2158,2158,1942,1943,2158,1914,2153,2158
Sporting Goods,24,24,24,24,23,21,24,24,24,24

In [7]:
metadata.isna().sum()

id                       0
gender                   0
masterCategory        4442
subCategory              0
articleType              0
baseColour            4454
season                4458
year                     1
usage                  317
productDisplayName       7
productUsageRights       0
dtype: int64

In [8]:
metadata.groupby(["masterCategory", "subCategory", "articleType"]).count()

                                                    id  gender  baseColour  \
masterCategory subCategory      articleType
Accessories    Accessories      Accessory Gift Set  91      91          78
                                Hair Accessory       1       1           0
                                Key chain            2       2           2
                                Messenger Bag        9       9           7
                                Travel Accessory    15      15          14
...                                                 ..     ...         ...
Personal Care  Skin Care        Sunscreen           21      21          19
                                Toner                5       5           5
Sporting Goods Sports Equipment Basketballs         12      12          12
                                Footballs            8       8           7
               Wristbands       Wristbands           4       4           4

                                                    season  year  usage  \
masterCategory subCategory      articleType
Accessories    Accessories      Accessory Gift Set      84    91     91
                                Hair Accessory           1     1      1
                                Key chain                2     2      2
                                Messenger Bag            7     9      9
                                Travel Accessory        15    15     15
...                                                    ...   ...    ...
Personal Care  Skin Care        Sunscreen               20    21     11
                                Toner                    5     5      2
Sporting Goods Sports Equipment Basketballs             10    12     12
                                Footballs                8     8      8
               Wristbands       Wristbands               3     4      4

                                                    productDisplayName  \
masterCategory subCategory      articleType
Accessories    Accessories      Accessory Gift Set                  91
                                Hair Accessory                       1
                                Key chain                            2
                                Messenger Bag                        9
                                Travel Accessory                    15
...                                                                ...
Personal Care  Skin Care        Sunscreen                           21
                                Toner                                5
Sporting Goods Sports Equipment Basketballs                         12
                                Footballs                            8
               Wristbands       Wristbands                           4

                                                    productUsageRights
masterCategory subCategory      articleType
Accessories    Accessories      Accessory Gift Set                  91
                                Hair Accessory                       1
                                Key chain                            2
                                Messenger Bag                        9
                                Travel Accessory                    15
...                                                                ...
Personal Care  Skin Care        Sunscreen                           21
                                Toner                                5
Sporting Goods Sports Equipment Basketballs                         12
                                Footballs                            8
               Wristbands       Wristbands                           4

[167 rows x 8 columns]

In [9]:
metadata.groupby(["baseColour"]).count()

,id,gender,masterCategory,subCategory,articleType,season,year,usage,productDisplayName,productUsageRights
baseColour,,,,,,,,,,
Beige,651,651,572,651,651,588,651,648,651,651
Black,8739,8739,7876,8739,8739,7869,8739,8717,8739,8739
Blue,4478,4478,4012,4478,4478,4034,4477,4472,4478,4478
Bronze,86,86,78,86,86,77,86,81,86,86
Brown,3143,3143,2839,3143,3143,2845,3143,3098,3142,3143
Burgundy,41,41,38,41,41,37,41,40,41,41
Charcoal,209,209,184,209,209,192,209,209,209,209
Coffee Brown,28,28,27,28,28,23,28,26,28,28
Copper,75,75,66,75,75,63,75,73,75,75
Cream,347,347,312,347,347,316,347,342,347,347
Fluorescent Green,5,5,5,5,5,5,5,5,5,5
Gold,577,577,518,577,577,520,577,572,577,577
Green,1903,1903,1703,1903,1903,1724,1903,1893,1903,1903
Grey,2443,2443,2215,2443,2443,2203,2443,2442,2443,2443
Grey Melange,132,132,118,132,132,113,132,132,132,132
Khaki,128,128,108,128,128,117,128,128,128,128
Lavender,146,146,133,146,146,139,146,145,146,146
Lime Green,6,6,6,6,6,6,6,5,6,6
Magenta,118,118,111,118,118,107,118,117,118,118
Maroon,523,523,465,523,523,466,523,520,522,523
Mauve,25,25,23,25,25,21,25,24,25,25
Metallic,41,41,37,41,41,34,41,39,41,41
Multi,363,363,319,363,363,336,363,363,363,363
Mushroom Brown,15,15,14,15,15,14,15,15,15,15
Mustard,87,87,79,87,87,78,87,87,87,87
Navy Blue,1614,1614,1448,1614,1614,1443,1614,1609,1614,1614
Nude,21,21,18,21,21,19,21,19,21,21
Off White,163,163,145,163,163,150,163,163,163,163
Olive,361,361,331,361,361,325,361,360,361,361
Orange,482,482,438,482,482,437,482,475,482,482
Peach,185,185,168,185,185,160,185,175,185,185
Pink,1680,1680,1496,1680,1680,1499,1680,1648,1680,1680
Purple,1479,1479,1332,1479,1479,1338,1479,1456,1479,1479
Red,2197,2197,1997,2197,2197,1960,2197,2179,2197,2197
Rose,28,28,25,28,28,28,28,21,28,28
Rust,61,61,58,61,61,59,61,60,61,61
Sea Green,19,19,16,19,19,16,19,19,19,19
Silver,978,978,881,978,978,895,978,977,978,978
Skin,168,168,146,168,168,150,168,153,168,168
Steel,279,279,251,279,279,253,279,279,279,279
Tan,106,106,94,106,106,92,106,105,106,106
Taupe,11,11,8,11,11,10,11,11,11,11
Teal,114,114,103,114,114,101,114,113,114,114
Turquoise Blue,58,58,56,58,58,53,58,58,58,58
White,4966,4966,4463,4966,4966,4449,4966,4929,4966,4966
Yellow,691,691,627,691,691,625,691,690,691,691

In [10]:
metadata.groupby(["season"]).count()

,id,gender,masterCategory,subCategory,articleType,baseColour,year,usage,productDisplayName,productUsageRights
season,,,,,,,,,,
Fall,10251,10251,9156,10251,10251,9193,10251,10240,10251,10251
Spring,2673,2673,2397,2673,2673,2413,2673,2427,2669,2673
Summer,19355,19355,17471,19355,19355,17456,19355,19329,19353,19355
Winter,7687,7687,6965,7687,7687,6927,7687,7682,7687,7687

In [11]:
metadata.groupby(["usage"]).count()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,productDisplayName,productUsageRights
usage,,,,,,,,,,
Casual,34406,34406,30975,34406,34406,30967,30926,34406,34404,34406
Ethnic,3208,3208,2876,3208,3208,2866,2911,3208,3208,3208
Formal,2345,2345,2110,2345,2345,2121,2129,2345,2345,2345
Home,1,1,1,1,1,1,1,1,1,1
Party,29,29,26,29,29,27,27,29,29,29
Smart Casual,67,67,61,67,67,64,59,67,67,67
Sports,4025,4025,3616,4025,4025,3624,3599,4024,4025,4025
Travel,26,26,25,26,26,22,26,26,26,26

In [12]:
metadata.groupby(["gender"]).count()

,id,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,productUsageRights
gender,,,,,,,,,,
Boys,830,748,830,830,748,755,830,830,830,830
Girls,655,593,655,655,593,599,655,655,655,655
Men,22147,19944,22147,22147,19923,19897,22146,22123,22144,22147
Unisex,2161,1941,2161,2161,1947,1938,2161,2132,2161,2161
Women,18631,16756,18631,18631,16759,16777,18631,18367,18627,18631

In [13]:
metadata.groupby(["masterCategory", "subCategory"]).count()

                                            id  gender  articleType  \
masterCategory subCategory
Accessories    Accessories                 121     121          121
               Bags                       2760    2760         2760
               Belts                       736     736          736
               Cufflinks                    97      97           97
               Eyewear                     972     972          972
               Gloves                       19      19           19
               Headwear                    262     262          262
               Jewellery                   983     983          983
               Mufflers                     34      34           34
               Perfumes                      1       1            1
               Scarves                     106     106          106
               Shoe Accessories             21      21           21
               Socks                       630     630          630
               Sports Accessories            3       3            3
               Stoles                       79      79           79
               Ties                        235     235          235
               Umbrellas                     5       5            5
               Wallets                     827     827          827
               Watches                    2299    2299         2299
               Water Bottle                  6       6            6
Apparel        Apparel Set                  96      96           96
               Bottomwear                 2441    2441         2441
               Dress                       437     437          437
               Innerwear                  1614    1614         1614
               Loungewear and Nightwear    433     433          433
               Saree                       375     375          375
               Socks                        10      10           10
               Topwear                   13826   13826        13826
Footwear       Flip Flops                  824     824          824
               Sandal                      853     853          853
               Shoes                      6600    6600         6600
Free Items     Free Gifts                   93      93           93
               Vouchers                      1       1            1
Home           Home Furnishing               1       1            1
Personal Care  Bath and Body                11      11           11
               Beauty Accessories            3       3            3
               Eyes                         40      40           40
               Fragrance                   914     914          914
               Hair                         18      18           18
               Lips                        465     465          465
               Makeup                      272     272          272
               Nails                       299     299          299
               Perfumes                      4       4            4
               Skin                         63      63           63
               Skin Care                    69      69           69
Sporting Goods Sports Equipment             20      20           20
               Wristbands                    4       4            4

                                         baseColour  season   year  usage  \
masterCategory subCategory
Accessories    Accessories                      103     112    121    121
               Bags                            2461    2490   2760   2760
               Belts                            674     662    736    736
               Cufflinks                         88      85     97     97
               Eyewear                          879     875    972    972
               Gloves                            17      17     19     19
               Headwear                         242     238    262    262
               Jewellery                        885     886    983    983
               Mufflers                          30      28     34     34
               Perfumes                           1       1      1      1
               Scarves                           94      97    106    106
               Shoe Accessories                  19      21     21      4
               Socks                            569     572    630    630
               Sports Accessories                 3       2      3      3
               Stoles                            66      72     79     79
               Ties                             216     212    235    235
               Umbrellas                          5       5      5      5
               Wallets                          761     743    827    820
               Watches                         2048    2087   2299   2299
               Water Bottle                       5       6      6      6
Apparel        Apparel Set                       83      85     96     96
               Bottomwear                      2209    2220   2441   2439
               Dress                            399     398    437    437
               Innerwear                       1460    1447   1614   1612
               Loungewear and Nightwear         399     392    433    428
               Saree                            329     330    375    375
               Socks                             10      10     10     10
               Topwear                        12417   12434  13825  13813
Footwear       Flip Flops                       735     734    824    824
               Sandal                           766     758    853    851
               Shoes                           5935    5925   6600   6600
Free Items     Free Gifts                        84      79     93     93
               Vouchers                           1       1      1      1
Home           Home Furnishing                    1       1      1      1
Personal Care  Bath and Body                     11      11     11      8
               Beauty Accessories                 3       3      3      2
               Eyes                              35      39     40     31
               Fragrance                        817     820    914    904
               Hair                              17      16     18     18
               Lips                             421     421    465    370
               Makeup                           249     238    272    230
               Nails                            266     271    299    256
               Perfumes                           4       4      4      4
               Skin                              57      55     63     48
               Skin Care                         62      65     69     43
Sporting Goods Sports Equipment                  19      18     20     20
               Wristbands                         4       3      4      4

                                         productDisplayName  \
masterCategory subCategory
Accessories    Accessories                              121
               Bags                                    2758
               Belts                                    736
               Cufflinks                                 97
               Eyewear                                  972
               Gloves                                    19
               Headwear                                 262
               Jewellery                                983
               Mufflers                                  34
               Perfumes                                   1
               Scarves                                  106
               Shoe Accessories                          21
               Socks                                    630
               Sports Accessories                         3
               Stoles                                    79
               Ties                                     235
               Umbrellas                                  5
               Wallets                                  827
               Watches                                 2299
               Water Bottle                               6
Apparel        Apparel Set                               96
               Bottomwear                              2441
               Dress                                    437
               Innerwear                               1614
               Loungewear and Nightwear                 433
               Saree                                    375
               Socks                                     10
               Topwear                                13826
Footwear       Flip Flops                               824
               Sandal                                   853
               Shoes                                   6600
Free Items     Free Gifts                                93
               Vouchers                                   1
Home           Home Furnishing                            1
Personal Care  Bath and Body                             11
               Beauty Accessories                         3
               Eyes                                      40
               Fragrance                                909
               Hair                                      18
               Lips                                     465
               Makeup                                   272
               Nails                                    299
               Perfumes                                   4
               Skin                                      63
               Skin Care                                 69
Sporting Goods Sports Equipment                          20
               Wristbands                                 4

                                         productUsageRights
masterCategory subCategory
Accessories    Accessories                              121
               Bags                                    2760
               Belts                                    736
               Cufflinks                                 97
               Eyewear                                  972
               Gloves                                    19
               Headwear                                 262
               Jewellery                                983
               Mufflers                                  34
               Perfumes                                   1
               Scarves                                  106
               Shoe Accessories                          21
               Socks                                    630
               Sports Accessories                         3
               Stoles                                    79
               Ties                                     235
               Umbrellas                                  5
               Wallets                                  827
               Watches                                 2299
               Water Bottle                               6
Apparel        Apparel Set                               96
               Bottomwear                              2441
               Dress                                    437
               Innerwear                               1614
               Loungewear and Nightwear                 433
               Saree                                    375
               Socks                                     10
               Topwear                                13826
Footwear       Flip Flops                               824
               Sandal                                   853
               Shoes                                   6600
Free Items     Free Gifts                                93
               Vouchers                                   1
Home           Home Furnishing                            1
Personal Care  Bath and Body                             11
               Beauty Accessories                         3
               Eyes                                      40
               Fragrance                                914
               Hair                                      18
               Lips                                     465
               Makeup                                   272
               Nails                                    299
               Perfumes                                   4
               Skin                                      63
               Skin Care                                 69
Sporting Goods Sports Equipment                          20
               Wristbands                                 4

In [14]:
category_dict = {row['articleType']: (row['subCategory'], row['masterCategory']) for _, row in metadata.iterrows()}

# Clean ans save data

In [18]:
import os
import numpy as np
from PIL import Image

path = IMAGES_DIR
counter = 0
worng_shape_images = []
missing_files = []
for image_id in metadata.id.items():
    filepath = path + str(image_id[1]) + ".jpg"
    if not os.path.isfile(filepath):
        missing_files.append(image_id[1])
        continue
    img = np.array(Image.open(filepath))
    if img.ndim != 3:
        # print(f"{filename} :: {img.shape}")
        worng_shape_images.append(image_id[1])

print(f"There are {len(metadata)} images in total.")
print(f"There are {len(worng_shape_images)} images with single channel (gray images).")
print(f"There are {len(missing_files)} images that are missed.")

There are 44424 images in total.
There are 431 images with single channel (gray images).
There are 5 images that are missed.

Gray and missing images are just less than %1 metadata so, there is no need to try to fix them and we can ignore them and continue with healthy %99.

In [19]:
metadata = metadata[~metadata["id"].isin(worng_shape_images + missing_files)]
metadata.to_csv(META_FILE)
metadata = metadata.fillna("missing")